.avatar {
    display: flex;
    align-items: center;
    border-radius: 32px 0px 0px 32px ;
    margin-bottom: 1rem;
    background-color: rgba(104, 104, 148, 0.504);
}

.avatar__img {
    border-radius: 50%;
    width: 64px;
    margin-right: 1rem;
}