.room {
    border: 0px solid red;
}

/* elemento parent - container */
.room__locations {
    border: 3px solid rgb(205, 28, 228);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*gap: ;*/
}

.room__location {
    border: 1px solid rgb(255, 208, 0);
    width: 33.3%;
    box-sizing: border-box; /* bordo compreso */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 166, 0, 0.163);
    height: 3rem;
   
}